body {
  background-color: gray;
}

h1 {
  border: 10px solid red;
  outline-style: solid;
  outline-color: red;
  outline-width: thick;
    border-radius: 5px;
}

img {
  border: 10px solid red;
  border-radius: 5px;
}

h1 {
  background-image: url("https://thumbs.dreamstime.com/b/lava-magma-texture-abstract-red-orange-yellow-fire-flames-background-lava-magma-texture-abstract-red-orange-yellow-fire-116539982.jpg");
    background-repeat: no-repeat;
    background-size: 2000px 1200px;
}

li {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 10px solid red;
  border-radius: 5px;
}

a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

p {
    background-image: url("https://images.unsplash.com/photo-1557682260-96773eb01377?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8b3JhbmdlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: 2000px 1000px;
    background-repeat: no-repeat;
      border: 4px solid red;
    border-radius: 5px;
}

nav {
      border: 10px solid red;
  outline-style: solid;
  outline-color: red;
  outline-width: thick;
    background-color: orange;
    border-radius: 5px;
    
}

h2 {
      border: 10px solid red;
  outline-style: solid;
  outline-color: red;
  outline-width: thick;
    background-color: orange;
    border-radius: 5px;
    
}


h3 {
  border: 10px solid red;
  outline-style: solid;
  outline-color: red;
  outline-width: thick;
    border-radius: 5px;
	background-color: orange;
}